@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  /* border: 1px solid red; */
}
#root{
  position: relative;
  width: 100%;
  height: 100vh;   
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}
.imgDiv{  
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;    
  filter: blur(10px);  
  transform: scale(1.2);
}
.imgDiv>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.listCon{
 flex: 25%;
  overflow: auto;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px;
  z-index: 1;
}
.listCon>h3{
  padding: 10px;    
  transition: .3s;
  border-bottom: 1px solid rgb(95, 95, 95);  
  cursor: pointer;
}
.listCon>h3:hover{
  background-color: rgba(255, 255, 255, 0.5);
}
